<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   MyEmotions.plist
   MYPEmotionKeyboard

   Created by wakary redou on 2018/5/22.
   Copyright (c) 2018年 CocoaPods. All rights reserved.
-->
<plist version="1.0">
    <array>
        <dict>
            <key>text</key>
            <string>[拜拜]</string>
            <key>image</key>
            <string>baibai</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[悲伤]</string>
            <key>image</key>
            <string>beishang</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[并不简单]</string>
            <key>image</key>
            <string>bingbujiandan</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[鄙视]</string>
            <key>image</key>
            <string>bishi</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[闭嘴]</string>
            <key>image</key>
            <string>bizui</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[馋嘴]</string>
            <key>image</key>
            <string>chanzui</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[吃瓜]</string>
            <key>image</key>
            <string>chigua</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[吃惊]</string>
            <key>image</key>
            <string>chijing</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[打哈气]</string>
            <key>image</key>
            <string>dahaqi</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[打脸]</string>
            <key>image</key>
            <string>dalian</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[钉]</string>
            <key>image</key>
            <string>ding</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[狗头]</string>
            <key>image</key>
            <string>dog</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[二哈]</string>
            <key>image</key>
            <string>erha</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[费解]</string>
            <key>image</key>
            <string>feijie</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[跪了]</string>
            <key>image</key>
            <string>guile</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[鼓掌]</string>
            <key>image</key>
            <string>guzhang</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[哈哈]</string>
            <key>image</key>
            <string>haha</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[害羞]</string>
            <key>image</key>
            <string>haixiu</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[汗]</string>
            <key>image</key>
            <string>han</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[嘿嘿嘿]</string>
            <key>image</key>
            <string>heiheihei</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[黑线]</string>
            <key>image</key>
            <string>heixian</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[哼]</string>
            <key>image</key>
            <string>heng</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[坏笑]</string>
            <key>image</key>
            <string>huaixiao</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[花心]</string>
            <key>image</key>
            <string>huaxin</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[挤眼]</string>
            <key>image</key>
            <string>jiyan</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[可爱]</string>
            <key>image</key>
            <string>keai</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[可怜]</string>
            <key>image</key>
            <string>kelian</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[酷]</string>
            <key>image</key>
            <string>ku</string>
        </dict>
        <dict>
            <key>text</key>
            <string>[喵]</string>
            <key>image</key>
            <string>miao</string>
        </dict>
    </array>
</plist>
